.paginate {
  width: 100%;
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
    &-item {
      margin-left: 4px;
      height: 46px;
      padding: 16px;
      font-size: 1.4rem;
      font-weight: 600;
      border-radius: 2px;
      display: block;

      &:hover {
        background-color: #0adb5b;
      }

      &.active {
        background-color: #0adb5b;
        cursor: default;
      }
      button {
        height: 46px;
        padding: 16px;
        font-size: 1.4rem;
        font-weight: 600;
        border-radius: 2px;

        &:hover {
          background-color: #0adb5b;
        }

        &.active {
          background-color: #0adb5b;
        }
      }
    }
  }
}
